<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/wickedpicker.min.js"></script>
</head>

<body class="container">
   <div class="container1 clearfix">
    <h1><span id="htitle" class="htitle">(GoFlow)</span></h1><br>
    <script>
        var socket = io.connect();
        
        socket.on('message', function (message) {
            console.log(data);
            alert('The server has a message for you: ' + devices);
             socket.emit('my other event', { my: 'data' });       
        })

        $('#poke').click(function () {
            socket.emit('message', 'Hi server, how are you?');
        })

    </script>
    <script>
  $( function() {
    $( ".drag" ).draggable({ connectToSortable: ".sortable",revert: 'invalid', helper: "clone" });
    $( ".sortable" ).sortable({ revert: true});
    $(".droppable").droppable({
    accept: '.draggable',
    activeClass: 'ui-state-hover',
    hoverClass: 'ui-state-active',
    drop: function(event, ui) {
        $(this).addClass('ui-state-highlight').find('p');
    }
});
  } );
  </script>
    <script>
  var socket = io.connect();
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>

 <script>
 $(document).ready( function() {
    $('.timepicker').wickedpicker();
 
 });

function reload() {
    location.reload();
}
  </script>

<div class="row">

<div id="rulediv">
<span class="title">Select Rule..</span><br><br>
 <select id="rulelist"> 
  <% for(var i=0; i < rules.length; i++) { %>
  <option  value="<%= rules[i].name %>"><%= rules[i].string %></option>
  <% } %>
</select>
</div>



  <div id="devices" class="col-xs-6 col-sm-3 devices" style="border-right: 1px solid rgba(0,0,0,0.1);">
  <span class="title">Devices</span>
  <br><br>
  <center>
 

  <% for(var i=0; i < dev.length; i++) { %>

   <div  class='drag draggable' id="drag" name="<%= dev[i].id %>" data-value="<%= dev[i].name %>">
  <!-- <p><%= dev[i].name  %></p>-->
   <%if (dev[i].template == 'switch'){ %> 
      <p><img src="/img/lightbulb-on-outline.png" height=24 width=24><%= ' ' + dev[i].name  %></p>
  <% } else if (dev[i].template == 'dimmer'){ %>
      <p><img src="/img/toggle-switch.png" height=24 width=24><%= ' ' + dev[i].name  %></p>

      <% } else if (dev[i].config.class == 'OpenWeatherDevice'){ %>
      <p><img src="/img/city.png" height=24 width=24><%= ' ' + dev[i].name  %></p>
        <% } else if (dev[i].config.class == 'SystemSensor'){ %>
      <p><img src="/img/monitor.png" height=24 width=24><%= ' ' + dev[i].name  %></p>
              <% } else if (dev[i].config.class == 'AVRSensor'){ %>
      <p><img src="/img/music-box.png" height=24 width=24> <%= ' ' + dev[i].name  %></p>
   <% } else { %>
      <p><img src="/img/battery-unknown.png" height=24 width=24><%= ' ' + dev[i].name  %></p>
   <% } %>
   </div>
    <% } %>
      <span class="title">Events</span>
      <br><br>
        <div  class='drag draggable' id="drag" data-value="sunrise starts"><p><img src="/img/weather-sunset-up.png" height=24 width=24>Sunrise</p></div>
           <div  class='drag draggable' id="drag" data-value="sunrise stops"><p><img src="/img/weather-sunset-down.png" height=24 width=24>Sunset</p></div>
            <div  class='drag draggable' id="drag" data-value="time"><p><img src="/img/calendar-clock.png" height=24 width=24><input type="text" name="timepicker" class="timepicker" id="time"/></p></div>
  
</center>
</div>

  <div id="when" class="col-xs-6 col-sm-3 if" style="border-right: 1px solid rgba(0,0,0,0.1);">
  <span class="title">When....</span><br><br>
<span>
  <div class="sortable" class="droppable" STYLE="height: 100%; border: 1px solid rgba(0,0,0,0.1);"> drop me here </div>
  </span>
  </div>
  
  <div class="col-xs-6 col-sm-3 and" style="border-right: 1px solid rgba(0,0,0,0.1);">
  <span class="title">And....</span><br><br>
  
 <div class="sortable" class="droppable" STYLE="height: 100%; border: 1px solid rgba(0,0,0,0.1);"> drop me here </div>
  </div>
  
  <div id="then" class="col-xs-6 col-sm-3 then"> 
  <span class="title">Then....</span><br><br>
  <div class="sortable" class="droppable" STYLE="height: 100%; border: 1px solid rgba(0,0,0,0.1);"> drop me here </div>
  <br> <br> <br> <br>

  <input id="save" value="save ..."></input>
  <button id="btnR" type="reset" value="Cancel" class="cancel" onclick="reload()">Cancel</button>
  <button id="btn1">Save rule</button>

<script>
$(document).ready( function() {
    $("#save").focus( function() {
        if ( $(this).val()=="save ...") {
            $(this).val('');
        } 
    });

    $("#save").blur( function() {
        if ( $(this).val()=="") {
            $(this).val('save ...');
        } 
    });
});


$(document).ready(function(){
    $("#btn1").click(function(){
    //when sunset starts then switch tuinverlichting on
    //"when it is after 01:00 and if tuinverlichting is turned on then switch tuinverlichting off"
    //when its 8:00 or when its 7:00 then turn keukenlamp on
    var ruleName = $("#save").val();
    var divValue = $("#when .drag").attr('data-value');
    
    var thenValue = $("#then .drag").attr('data-value');
    if (thenValue === undefined){
    alert('Please add devices + events then click save rule'); 
    } else if (ruleName === undefined) {
    alert(ruleName); 
    } else {
       // alert("text: " + $("#drag").text());
       alert('Rule name ' + ruleName + ':  ' + 'when ' + divValue + ' then switch ' + thenValue + ' on');
       }
    });
});
</script>
  </div>
</div>


 </div>
 <footer class="footer">
        <% include ../partials/footer %>
    </footer>
       <script>
    socket.on('connect', function(msg){
    $('#client_count').append($('<li>').text(msg));
  });
       </script>
       <div id="client_count">

       doei
       </div>
            </body>

            </html>