<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>

<body class="container">
   <div id="container1">
    <h1><span id="htitle" class="htitle">(GoFlow)</span></h1><br>

   


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        var socket = io.connect();
        
        socket.on('message', function (message) {
            console.log(data);
            alert('The server has a message for you: ' + devices);
             socket.emit('my other event', { my: 'data' });       
        })

        $('#poke').click(function () {
            socket.emit('message', 'Hi server, how are you?');
        })

    </script>
    <script>
  $( function() {
    $( ".drag" ).draggable({ revert: 'invalid' });

    $(".droppable").droppable({
    accept: '#draggable',
    activeClass: 'ui-state-hover',
    hoverClass: 'ui-state-active',
    drop: function(event, ui) {
        $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
    }
});
  } );
  </script>
    <script>
  var socket = io.connect();
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>

<div class="row">
  <div id="devices" class="col-xs-6 col-sm-3" style="border-right: 1px solid rgba(0,0,0,0.1);">
  <center><span class="title">Devices</span></center>
  <br><br>
  <center>
 
  <% for(var i=0; i < dev.length; i++) { %>
  
   <div id="draggable" class='drag' name="<%= dev[i].id %>">
  <!-- <p><%= dev[i].name  %></p>-->
   <%if (dev[i].template == 'switch'){ %> 
      <p><img src="/img/lightbulb-on-outline.png" height=24 width=24><%= dev[i].name  %></p>
  <% } else if (dev[i].template == 'dimmer'){ %>
      <p><img src="/img/toggle-switch.png" height=24 width=24><%= dev[i].name  %></p>
   <% } else { %>
      <p><img src="/img/battery-unknown.png" height=24 width=24><%= dev[i].name  %></p>
   <% } %>
  
   </div>
    <% } %>
</center>
</div>

  <div id="if" class="col-xs-6 col-sm-3" style="border-right: 1px solid rgba(0,0,0,0.1);">
  <span class="title">If....</span><br><br>
    <div id="draggable" class='drag' name="sunrise">
  <p>sunrise</p>
  </div>

  <div class="droppable" STYLE="border: 1px solid rgba(0,0,0,0.1);"> drop me here </div>
  </div>
  
  <div class="col-xs-6 col-sm-3" style="border-right: 1px solid rgba(0,0,0,0.1);">
  <span class="title">And....</span><br><br>
  <div class="droppable" STYLE="border: 1px solid rgba(0,0,0,0.1);" > drop me here </div>
  </div>
  
  <div class="col-xs-6 col-sm-3"> 
  <span class="title">Then....</span><br><br>
  <div STYLE="border: 1px solid rgba(0,0,0,0.1);">turn TuinWandLamp off</div>
  <br>

  <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" type="text" value="turn TuinWandLamp off   .." /><button>Send</button>
    </form>
  
  </div>
</div>


 </div>
 <footer class="footer">
        <% include ../partials/footer %>
    </footer>
       
            </body>

            </html>